html,
body {
  height: 100%;
}

header {
  margin-bottom: 80px;
}

strong {
  color: #e91e63;
  font-weight: bold;
}

a {
  &.carousel-control {
    color: #e91e63;
    font-size: 2em;
  }

  &.left.carousel-control {
    span {
      left: 20%;
      position: absolute;
      top: 50%;
    }
  }

  &.right.carousel-control {
    span {
      position: absolute;
      right: 20%;
      top: 50%;
    }
  }
}

.carousel-control:hover, .carousel-control:focus {
  color: #e91e63;
}

.center {
  text-align: center;
}

.h-icon {
  margin-bottom: 25px;
}

.h-icon__image {
  margin-bottom: 20px;
}

.h-icon__more {
  margin-bottom: 20px;
}

p {
  font-size: 14px;

  &.korean {
    font-size: .99em;
  }
}

span {
  &.korean {
    font-size: .9em;
  }
}

section {
  .item {
    padding: 25px 0;

    p {
      color: #929292;
    }

    p:last-child {
      margin: 0;
    }
  }
}

footer {
  margin-bottom: 20px;

  hr {
    max-width: 100%;
  }
}

img {
  &.img-margin-bottom {
    margin-bottom: 30px;
  }

  &.img-half {
    max-width: 50%;
  }
}

.img-responsive {
  margin: auto;
}

.row-table {
  display: table;
}

.col-table {
  display: table-cell;
  float: none;
  vertical-align: bottom;

  p {
    &:last-child {
      margin: 0;
    }
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.carousel-control {
  &.left,
  &.right {
    background: transparent;
  }
}

.popover {
  max-width: 400px;
  width: 400px;
}

@media (max-width: 768px) {
  header {
    margin-bottom: 10px;
  }

  p {
    text-align: center;
  }

  [class*="col-sm-"] {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .row-table {
    display: block;
  }

  .col-table {
    display: inline-block;
  }

  img {
    &.img-margin-bottom {
      margin-bottom: 10px;
    }
  }

  .h-icon__image {
    img {
      max-width: 40%;
    }
  }

  .popover {
    max-width: 400px;
    width: 100%;
  }
}
